body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(/img/what-the-hex-dark.png);
  color: whitesmoke;
}

.post-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  max-height: calc(100vh - 40px);
  color: black;
}

.post {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 4px rgba(189, 131, 6, 0.5);
  color: black;
}

.post-title {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.post-content {
  line-height: 1.6;
}

.post a {
  text-decoration: none;
  color: inherit;
}

.post a:hover {
  text-decoration: underline;
}

#postForm {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}
