<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>New Post</title>
  </head>
  <body>
    <form class="post" id="postForm">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" required />
      <label for="post">Content</label>
      <textarea name="post" id="post" cols="30" rows="10" required></textarea>
      <button type="submit">Create Post</button>
    </form>
    <script type="text/javascript" src="/js/newPost.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"
      integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
