<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
  </head>
  <body>
    <% if (posts.length === 0) { %>
    <p>No posts found!</p>
    <% } posts.forEach(el) => %>
    <div>
      <p><%=element.title %></p>
      <p><%=element.post %></p>
      <a href="/viewPosts/:id"></a>
    </div>

    %>
  </body>
</html>
